body {
  margin: 0;
  background: #0f1117;
  font-family: Arial, sans-serif;
  color: white;
}

/* Layout principal */
.calendar-wrapper {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 20px;
  padding: 30px;
}

/* Header */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}


.month-header {
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;     /* mesma altura vertical */
  gap: 900px;               /* espaço entre eles */
}

/* Dias da semana */
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: -21px;
  opacity: 0.6;
  font-size: 14px;
}

/* Grid principal */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(140px, 1fr));
  gap: 14px;
}

/* Card do dia */
.day {
  background: #1c1f26;
  border-radius: 12px;
  padding: 10px;
  min-height: 130px;
  position: relative;
  transition: 0.2s ease;
  cursor: pointer;
}

.day.profit {
  background: #0f3d2e;
  border: 1px solid #00ff9c;
}

.day.loss {
  background: #3d1414;
  border: 1px solid #ff4d4d;
}

.day:hover {
  transform: translateY(-2px);
}

.date {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 12px;
  opacity: 0.6;
}

.result {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.trades {
  font-size: 12px;
  opacity: 0.7;
}

.add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  opacity: 0.8;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.week-card {
  background: #1c1f26;
  padding: 15px;
  border-radius: 12px;
}

.week-profit {
  color: #00ff9c;
}

.week-loss {
  color: #ff4d4d;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  width: 320px;
  background: #1c1f26;
  border-radius: 12px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input {
  background: #0f1117;
  border: 1px solid #2b2f3a;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.modal-content button {
  background: #2b2f3a;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #3a4050;
}

.modal-content .danger {
  background: #5c1d1d;
}

.modal-content .danger:hover {
  background: #7a2525;
}

@media (max-width: 1200px) {
  .calendar-grid {
    grid-template-columns: repeat(7, minmax(110px, 1fr));
  }
}
